<% layout('./layouts/styles')%>
    <div class="row">
        <h1 class="text-center">New Hotel</h1>
        <div class="col-6 offset-3">
            <form action="/hotels/<%=hotel._id %>?_method=put" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="hotel[title]" value="<%= hotel.title %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="hotel[location]" value="<%=hotel.location %>" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="url" id="image" name="hotel[image]" value="<%=hotel.image %>">
            </div>
            <div class="input-group mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" name="hotel[price]" aria-describedby="price-label" value="<%=hotel.price %>">
                </div>
              </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="hotel[description]"><%=hotel.description %></textarea>
            </div>
            
            <button class="btn btn-info mb-3">Update Hotel</button>
        </form>
        <button class="btn btn-danger mb-3"><a href="/hotels">All Hotels</a></button>