<% layout('./layouts/styles')%>
<div class="card mb-3">
    <img src="<%=hotel.image %>" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= hotel.title %></h5>
      <p class="card-text"><%= hotel.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-muted"><%= hotel.location %></li>
      <li class="list-group-item">$<%= hotel.price%>/night</li>
    </ul>
    <div class="card-body">
      <a href="/hotels/<%=hotel._id%>/edit" class="card-link btn btn-info">Edit Info</a>
      <form class="d-inline" action="/hotels/<%=hotel._id %>?_method=delete" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
    <button class="btn btn-secondary"><a href="/hotels">Back</a></button>
    </div>
  </div>
  
      